//theme colours
$theme-color: #51247A; // UQ purple
$theme-color-dark: #51247A; // UQ purple
$theme-color-lighter: #962A8B; // secondary light purple
$theme-color-light: #d4c8de; // for global links as per OMC website

$accent-color: #4085C6; // secondary blue
$accent-color-light: #00A2C7; // secondary aqua
$accent-color-lighter: #00A2C7; // secondary aqua
$accent-color-dark: #4085C6; // secondary blue

$secondary-color: #999490; // neutral dark grey
$secondary-color-light: #D7D1CC; //  neutral
$secondary-color-dark: #999490; // neutral dark grey

$error-color: #E62645; // secondary red

//special elements colours
$footer-background-color: #D7D1CC; // uq neutral
$menu-background-color: #fff;
$uq-emerald: #2EA836; // secondary emerald

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flexboxRow() {
  @include flexbox();

  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

@mixin flexboxColumn() {
  @include flexbox();

  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}


