//theme colours
$theme-color: #51247A; // UQ purple
$theme-color-dark: #1E0047; // UQ purple at 20%
$theme-color-lighter: #8457AD; // UQ purple at 20%
$theme-color-light: #d4c8de; // per OMC website

$accent-color: #4085C6; // secondary blue
$accent-color-light: #73B8F9; // secondary blue at 20%
$accent-color-lighter: #A6EBFF; // secondary blue at 40%
$accent-color-dark: #0D5293; // secondary blue at 20%

$secondary-color: #66615D; // secondary dark grey at  20%
$secondary-color-light: #F1EBE6; //  #D7D1CC at %10
$secondary-color-dark: #332E2A; // secondary dark grey at 40%

$error-color: #E62645; // secondary red

//special elements colours
$footer-background-color: #D7D1CC; // uq neutral
$menu-background-color: #fff;
$uq-emerald: #2EA836; // secondary emerald

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flexboxRow() {
  @include flexbox();

  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

@mixin flexboxColumn() {
  @include flexbox();

  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}


